/build/coverage_tmp
/build/coverage
/src/packages
/src/.vs
/src/vcsparser/obj
/src/vcsparser/bin
/src/vcsparser.core/obj
/src/vcsparser.core/bin
/src/vcsparser.unittests/obj
/src/vcsparser.unittests/bin
/src/vcsparser.core/*.user
/src/vcsparser/*.user
/src/vcsparser.PowerShell.unittests/bin
/src/vcsparser.PowerShell.unittests/obj
/src/vcsparser.PowerShell/bin
/src/vcsparser.PowerShell/obj
